{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
<form id="editplayerscore" method="POST">
	<div class="contain">
	  <div class="left-half round">
		<h4>Registered Events</h4><br/>
		 <p>Choose an event:  
		    <!-- Display the logged in PlayerID with their Name -->
		    <select id="selectEvent" name="select_event" class="form-control" required>
				<!-- Foreach Event -->
				{% if registered_events%}
					<option value="" disabled selected>Select an event...</option>
					{% for event in registered_events%}
						<option value="{{event.EventId}}">{{event.Name}} - {{event.Venue.Address}}</option>
					{% endfor %}
				{% else %}
					<option value="" disabled selected>Currently not registered to any events</option>
				{% endif %}
			  </select>
		 </p>  
	  </div><br/>
	  <div class="right-half round">
		<h4>Score Information:</h4><br/>
		    <!-- On select Venue & Course show this, else hide -->
			<div id="courseInfo">
				<p>Name: <div id="playerName" name="player_name" class="form-control">{{person.Name}}</div></p>
				<!-- <p>Change No. of Holes: <input type="text" id="noOfHoles" name="no_of_holes" class="form-control" required /></p> -->
				<p id="scoreLabel">Scores:</p>
				<div id="scoreInfo" style="height:156.8px; overflow:auto">
				</div>
			</div>
			<center><br/>
				<button type="submit" class="btn btn-success" id="btnSave" name="submit" value="save">Save</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('players') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when page is validated-->
		<div class="alert-warning form-control text-center" id="alertPlayerScore" style="display:none">Scores changed successfully</div>
	  </div>
	</div>	
</main>
<script>
$(document).ready(function(){	
	$("#scoreLabel").hide();
	$('#scoreInfo').hide();
		    
	$("#selectEvent").change(function (){
		$("#scoreLabel").show();
		$('#scoreInfo').show();

		var fetch = $(this).val();
		$.ajax({
			type: "POST",
			url: "/players/editscore/getplayerscores",
			data: { "event":fetch },
			success: function (response) {
				$('#scoreInfo').html(response);
			},
			error: function (event, request, settings) {
				console.log('AjaxError' + ' : ' + settings);
			},
			timeout: 20000
		});
	});

	$("#editplayerscore").submit(function(){
		$("#alertPlayerScore").css("display", "block");
	});

});
</script>
{% endblock %}
