{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="left-half round">
	  <form id="editplayerinfo" method="POST">
		<h4>Current Divisions:</h4>
		<br>
		<table class="table table-hover">
		{% if current_divisions|length != 0%}
			{% for division in current_divisions%}
			<tr>
				<td>{{division.Division}}</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td>No Divisions Currently</td>
			</tr>
		{% endif %}
        </table>	
	  </div><br/>
	  <div class="right-half round">
		<h4>Division Information</h4><br/>
		    <!-- On select Event show this, else hide -->
			<p id="actionSelect">Action:
			  <select id="action_select" name="action" class="form-control" required>
			  	<option value="" disabled selected>Select a Action...</option>
			    <option value="add">Add</option>
				<option value="remove">Remove</option>
			  </select>
			</p>
			<p id="divisionInfo">Division Name: 
			  <input id="divisionName" name="name" class="form-control" required>
			</p>
			<p id="divisionSelect">Divisions: 
			  <select id="division_select" name="division" class="form-control" required>
			  	<option value="" disabled selected>Select a Division...</option>
			    <!-- Foreach Group in Event -->
				{% for division in current_divisions %}
					<option value="{{division.DivisionID}}">{{division.Division}}</option>
				{% endfor %}
			  </select>
			</p>
				<button type="submit" class="btn btn-success" id="btnSave" name="submit" value="{{alert}}">Save</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when data is changed-->
		<div class="alert-warning form-control text-center" id="alertDivisionInfo" role="alert" style="display:{{alert}}">
           Division Information Changed Successfully
		</div>
	  </div>
	</div>	
</main>
<script>
$(document).ready(function(){
    
	$("#divisionInfo").hide();
	$('#divisionSelect').hide();

    $('#btnSave').click(function(){
		$('#btnSave').val('block');
	});

	if ($('#alertDivisionInfo').css('display') == 'block') {
		$("#alertDivisionInfo").fadeTo(800, 300).slideUp(300, function(){
			$("#alertDivisionInfo").slideUp(300);
		});
	}
	
	$('#action_select').change(function () {
		var action = $('#action_select').val();
		if (action == "add") {
			$("#divisionInfo").show();
			$('#divisionSelect').hide();
			$("#divisionName").attr("required",true);
			$('#division_select').removeAttr("required");
		} 
		else {
			$("#divisionInfo").hide();
			$('#divisionSelect').show();
			$("#divisionName").removeAttr("required");
			$('#division_select').attr("required",true);
		}
	});
});
</script>
{% endblock %}