{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain" style="width:60%; margin-left: 25%;">
	  <div class="right-half round">
		<form id="editdivisions_landing" method="POST">
			<h4>Edit Divisions</h4><br/>
			<p>Choose Event: 
			  <select id="eventSelect" name="event_select" class="form-control">
			    <!-- Foreach Event -->
				{% for event in event_list%}
			    <option value={{event.EventId}}>{{event.Name}} - {{event.Address}} - {{event.Date}}</option>
				{% endfor %}
			  </select>
			</p><br/>
			<div style="width:50%; margin-left:25%">
				<center>
				<button type="submit" class="btn btn-primary form-control" id="change_divisioninfo" name="submit" value="info">Change Division Info</button><br/><br/>
				<button type="submit" class="btn btn-success form-control" id="addrem_div" name="submit" value="addrem">Add/Remove Divisions</button><br/><br/>
				<button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back </button><br/><br/>
				</center>
			</div>
		</form>
	  </div>
	</div>	
</main>
{% endblock %}