{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain" style="width:75%;margin-left:15%;">
	  <div class="right-half round">
		<h4>Event : {{event_name}} - {{event_date}}</a></h4><br/>
		<form id="editdivision" method="POST">
			<h4>Select Division.</h4>
			<select id="divisionSelect" class="btn btn-sm" name="div_group" required>
				<option value="" disabled selected>Select...</option>
				<!-- For each Groups -->
				{% for group in event_groups%}
					<option value={{group.DivisionID}}>Division {{group.DivisionID}} - {{group.Division}}</option>
				{% endfor %}
			</select>&nbsp;&nbsp;
            <br>
            <br>
            <p id="edit" >Division Name: <input type="text" id="Name" name="Name" class="form-control" maxlength="256" pattern="\S+.*" 
                                      title="Event Name shouldn't be empty or start with a whitespace" required /></p>
            <br/>
            <br>
			<div style="width:50%; margin-left: 25%;">
				<p><button type="submit" class="btn btn-primary form-control" name="submit" value="submit">Submit</button></p>
				<p><button type="button" class="btn btn-warning form-control" onclick="window.location='{{ url_for('divisions') }}'">Change Event</button></p>
				<p id="admin_panel">
				  <button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('admin') }}'">
				  <i class="fas fa-backward"></i> Admin Panel
				  </button>
				</p>
				<center>
				<div class="form-control alert-warning" id="alert_edit" style="display:none">Updated successfully</div>
				</center>
			</div>
			</form>
			</div>
		</div>
	  </div>
	</div>	
	<br>
	<script>
	$(document).ready(function(){
        $('#edit').hide();
	
	    $("form").submit(function(){
		  $("#alert_edit").css("display", "block");
		});
		
		$('#divisionSelect').change(function() {
            $('#edit').show();            
		});

	});
	</script>
</main>
{% endblock %}