{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	  <div class="right-half round">
		<h4>Add course to the selected venue:</h4><br/>
		<form id="add_venue" method="POST">
		    <p>Choose a Venue: 
				<select id="venueSelect" name="venue_select" class="form-control" required>
					<option value="" disabled selected>Select a Venue...</option>
			    <!-- Foreach Venue -->
				{% if success == 'TRUE' %}
					{% for venue in venue_list%}
						<option value={{venue.VenueId}}>{{venue.Name}} - {{venue.Address}}</option>
					{% endfor %}
			    {% else %}
				  <option value="" disabled selected>No venues are present</option>
			    {% endif %}
				</select>
			</p>
			<p>Course Name: <input type="text" id="courseName" class="form-control" name="course_name" maxlength="255" pattern="\S+.*" 
			                       title="Course Name shouldn't be empty or start with a whitespace" required /></p>
			<!--TODO: Form validation so only numbers are allowed for hole number-->
			<p>Number of Holes: <input type="number" id="courseHole" class="form-control" name="hole_num" min="1" max="100" required /></p>
			<center><br/>
				<button type="submit" class="btn btn-primary" id="addVenue" name="submit" value="submit">Add Course</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('courses_landing') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when page is validated-->
		<div class="form-control alert-warning text-center" id="alertAddCourse" style="display:none">Course added successfully</div>
	  </div>
	</div>	
</main>
<script>
$(document).ready(function(){
	$("form").submit(function(){
	  $("#alertAddCourse").css("display", "block");
	});
});
</script>
{% endblock %}