{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="left-half round">
		<h4>{{event_name}} - Change Info</h4><br/>
		<div id="datepicker"></div><br/><br/>
		<span id="date_disp"></span> 
	  </div><br/>
	  <div class="right-half round" style="width: 50% !important;">
		<h4>Event Information: (Change date from the calendar on left side)</h4><br/>
		<form id="editevent_info" method="POST">
		    <!-- Display Event Name, Date and Course Name based on selected EventID in Session -->
			<p>Event Name: <input type="text" id="eventName" class="form-control" name="event_name" maxlength="256" pattern="\S+.*" 
			                      title="Event Name shouldn't be empty or start with a whitespace" value="{{event_name}}" required /></p>
			<p>Date: <input type="text" id="dateInput" class="form-control readonly" name="event_date" value="{{event_date}}" 
			                onkeypress="return false;" onkeydown="return false;" pattern="\d{4}-\d{2}-\d{2}" 
							title="Select a date from the calendar on the left. (Date format: YYYY-MM-DD)" required /></p>
			<label for="venueList">Venue:</label>
			<select id="venueList" name="venue_list" class="form-control" required>
				<option value="" disabled selected>Select a Venue...</option>
				<!-- Foreach Venue -->
				{% for venue in venue_list%}
					{% if venue.VenueId == event_venue%}
						<option value={{venue.VenueId}} selected>{{venue.Name}} - {{venue.Address}}</option>
					{% else %}
			    		<option value={{venue.VenueId}}>{{venue.Name}} - {{venue.Address}}</option>
					{% endif %}
				{% endfor %}
			</select>
			<label for="courseList">Course:</label>
			<select id="courseList" name="course_list" class="form-control" required>
				<!-- Foreach Course -->
				{% for course in course_list%}
					{% if course.CourseID == event_course%}
						<option value={{course.CourseID}} selected>{{course.CourseName}} - {{course.Num_Holes}} Holes</option>
					{% else %}
						<option value={{course.CourseID}}>{{course.CourseName}} - {{course.Num_Holes}} Holes</option>
					{% endif %}
				{% endfor %}
			</select>
			<center><br/>
				<button type="submit" class="btn btn-success" id="addevent" name="submit" value="submit">Save</button>
				<button type="button" class="btn btn-primary" id="addevent" onclick="window.location='{{ url_for('editevent_landing') }}'">Change Event</button>
				<button type="button" class="btn btn-info" id="addevent" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Admin </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when page is validated-->
		<div class="alert-warning form-control text-center" id="alertEditEvent" style="display:none">Event information changed successfully</div>
	  </div>
	</div>	
</main>
<!-- Inbuilt Custom Script for Calendar -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap-datepicker.min.js"></script>
<script>
	$(document).ready(function(){
	
	    $("#editevent_info").submit(function(){
		  $("#alertEditEvent").css("display", "block");
		});
		
		$('#datepicker').datepicker({format: 'yyyy/mm/dd', todayHighlight: 'True'});
		$('#datepicker').on('changeDate', function() {
			$('#date_disp').html( $('#datepicker').datepicker('getFormattedDate') );
			$('#dateInput').val( $('#datepicker').datepicker('getFormattedDate') );
		});

		$('#venueList').change(function () {
			var fetch = $(this).val();
			$.ajax({
				type: "POST",
				url: "addevents/get_course",
				data: { "venue":fetch },
				success: function (response) {
					$(courseList).html(response)
				},
				error: function (event, request, settings) {
					console.log('AjaxError' + ' : ' + settings);
				},
				timeout: 20000
			});
		});
	});
	
	$(".readonly").keydown(function(e){
        e.preventDefault();
    });
</script>
{% endblock %}