{% extends 'base.html' %}
{% block content %}

    <!-- Begin page content -->
    <main role="main" class="container">
		<div class="contain">
		  <div class="left-half round">
		    <h2>Choose a date to display events:</h2><br/>
            <div id="datepicker"></div><br/><br/>
            <span id="date_disp"></span>
			<ul id="events">
			</ul>
		  </div><br/>
		  <div class="right-half round">
		    <h2>Upcoming Events:</h2><br/>
			<ul id="upcomingEvents">
			<!-- Foreach event start -->
			{% for event in upcoming_events %}
			<li>{{event.Date}} : {{event.Name}}</li>
			{% endfor %}
			{% if upcoming_events|length <1 %}
			<h3>{{ none }}</h3>
			{% endif %}
			</ul>
			<br/>
			<br><br>
			<!-- Foreach event end --> 
			<!-- ID: 1. If logged in show, else hide URL: 2. If admin goto admin, else goto editscore -->
			<p><button type="button" class="btn btn-light form-control" id="dashboard" onclick="window.location='{{ url_for('editscore') }}'">Go to Dashboard</button></p>
		  </div>
		</div>	
	</main>
	<br><br>
	
<!-- Inbuilt Custom Script for Calendar -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap-datepicker.min.js"></script>

<script>
	$(document).ready(function(){
		$('#datepicker').datepicker({format: 'yyyy/mm/dd', todayHighlight: 'True'});
		$('#datepicker').on('changeDate', function() {
			$('#date_disp').html( $('#datepicker').datepicker('getFormattedDate') );
			var fetch = $('#datepicker').datepicker('getFormattedDate');
			$.ajax({
				type: "POST",
				url: "/events/add/get_event",
				data: { "date":fetch },
				success: function (data) {
					$(events).html(data)
				},
				error: function (event, request, settings) {
					console.log('AjaxError' + ' : ' + settings);
				},
				timeout: 20000
			});
		});
	});
</script>

{% endblock %}
