{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="left-half round">
		<h4>Click the event link below to edit/update events, groups, players and their scores:</h4><br/>
		<div id="datepicker"></div><br/><br/>
		<span id="date_disp"></span> 
		<!-- Href to scores/<eventid> -->
		<a href="#">{{Event}}</a>
	  </div><br/>
	  <div class="right-half round">
		<h2>Add event on the selected date:</h2><br/>
		<form id="edit_event" method="POST">
			<label for="venues">Venue:</label>
			<select id="venues" name="selectedVenue" required/>
				<option selected disabled value="">Select a Venue...</option>
				{%for venue in venue_list%}
				<option value={{venue.VenueId}}>{{venue.Name}} - {{venue.Address}}</option>
				{% endfor %}
			</select>
			
			<label for="eventName">Event Name:</label><input type="text" id="eventName" class="form-control" name="event_name" required /><br/>
			<label for="dateInput">Date:<input type="text" id="dateInput" class="form-control" name='selected_date' readonly/><br/>
			<br/><br/>
			<center>
				<button type="submit" class="btn btn-primary" id="addevent" name="submit" value="submit">Add Event</button>
				<button type="button" class="btn btn-info" id="addevent" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Admin Panel</button>
			</center>
		</form>
		<!--Confirmation message needs to show when page is validated-->
		<div class="alert alert-info alert-dismissible" id="alert_addgroup" role="alert">{Event added successfully}</div>
	  </div>
	</div>	
</main>
<!-- Inbuilt Custom Script for Calendar -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap-datepicker.min.js"></script>
<script>
	$(document).ready(function(){
		$('#datepicker').datepicker({format: 'yyyy/mm/dd', todayHighlight: 'True'});
			$('#datepicker').on('changeDate', function() {
				$('#date_disp').html( $('#datepicker').datepicker('getFormattedDate') );
				$('#dateInput').val( $('#datepicker').datepicker('getFormattedDate') );
		});
	});
</script>
{% endblock %}