{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	  <div class="right-half round">
		<h4>Add event on the selected date:</h4><br/>
		<form id="add_venue" method="POST">
			<p>Venue Name: <input type="text" id="venueName" class="form-control" name="venue_name" required /></p>
			<p>Venue Address: <input type="text" id="venueAddress" class="form-control" name="venue_address" required /></p>
			<center><br/>
				<button type="submit" class="btn btn-primary" id="addVenue" name="add_venue">Add Venue</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('venues_landing') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when page is validated-->
		<div class="alert alert-info alert-dismissible text-center" id="alert_addgroup" role="alert">{Venue added successfully}</div>
	  </div>
	</div>	
</main>
{% endblock %}