{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain round" align="center">
		    <h4><i class="fas fa-users-cog"></i> Admin Panel : {{person.Name}}</h4><br/>
		    <p><button type="button" name="btn_venues" class="btn btn-primary form-control" onclick="window.location='{{ url_for('venues_landing') }}'">Venues (Add, Edit & Delete)</button></p>
		    <p><button type="button" name="btn_events" class="btn btn-primary form-control" onclick="window.location='{{ url_for('events_landing') }}'">Events (Add, Edit & Delete)</button></p>
			<p><button type="button" name="btn_editscores" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editscores_landing') }}'">Edit Scores (Choose Event, Edit Scores)</button></p>
			<p><button type="button" name="btn_editcourses" class="btn btn-primary form-control" onclick="window.location='{{ url_for('courses_landing') }}'">Courses (Find course to edit by venue, change pars)</button></p>
			<p><button type="button" name="btn_editplayers" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editplayerinfo') }}'">Edit Players (Find players from dropdown, edit play information)</button></p>
			<p><button type="button" name="btn_editpersonal" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editpersonal') }}'">Personal (Change Password, Email, Name)</button></p>
	</div>	
	<br>
</main>
{% endblock %}