{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
	    <!-- Href to scores/<event_id> -->
		<h4>{UserID} - {User Name}</h4><br/>
		<h4>Admin Panel:</h4>
		<div style="width:50%">
		    <p><button type="button" name="btn_venues" class="btn btn-primary form-control" onclick="window.location='{{ url_for('venues_landing') }}'">Venues (Add, Edit & Delete)</button></p>
		    <p><button type="button" name="btn_events" class="btn btn-primary form-control" onclick="window.location='{{ url_for('events_landing') }}'">Events (Add, Edit & Delete)</button></p>
			<p><button type="button" name="btn_editscores" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editscores_landing') }}'">Edit Scores (Choose Event, Edit Scores)</button></p>
			<p><button type="button" name="btn_editcourses" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editcourses') }}'">Edit Courses (Find course to edit by venue, change pars)</button></p>
			<p><button type="button" name="btn_editplayers" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editplayerinfo') }}'">Edit Players (Find players from dropdown, edit play information)</button></p>
			<p><button type="button" name="btn_editpersonal" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editpersonal') }}'">Personal (Change Password, Email, Name)</button></p>
		</div>
	  </div>
	</div>	
</main>
{% endblock %}