{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
		<form id="delevent" method="POST">
		    <!-- href as scores/<event_id> -->
			<h4>{Username} - Delete Event</h4><br/>
			<div style="width:50%">
			<h6>Select an event to delete it with all players & their scores present in it:</h4><br/>
			<!-- From Populated EventID & VenueID in Session -->
			<p>Choose Event: 
			  <select id="eventSelect" name="event_select" class="form-control" required>
			  	<option value="" disabled>Select an Event...</option>
			    <!-- Foreach Event -->
				{% for event in event_list%}
					<option value={{event.EventId}}>{{event.Name}} - {{event.Address}} - {{event.Date}}</option>
				{% endfor%}
			  </select>
			</p><br/><br/>
				<!-- Submit changed scores to database onclick "Update/Delete Event" -->
				<center>
				<!-- Delete all eventID from databases onclick Delete Event -->
				<button type="submit" class="btn btn-danger form-control" id="delevent_click" name="submit" value="submit"
				onclick="alert('WARNING: This will delete all players and scores present in it. Are you sure, you want to delete this event?')">
				Delete Event
				</button><br/><br/>
				<button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('events_landing') }}'"><i class="fas fa-backward"></i> Back </button><br/><br/>
				</center>
				<!--Confirmation message needs to show when page is validated-->
		        <div class="alert-danger form-control text-center" id="alertDeleteEvent" style="display:none">Event deleted successfully</div>
			</div>
		</form><br/>
	  </div>
	</div>	
</main>
<script>
	$("#delevent").submit(function(){
	  $("#alertDeleteEvent").css("display", "block");
	});
</script>
{% endblock %}