{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="left-half round">
	    <!-- Href to scores/<event_id> -->
		<h4>Event : <a href="#">{Event_ID} / {Venue_ID} - {Venue Name} @ {Venue Address}</a></h4><br/>
		<h4>Add Players:</h4><br/>
		<form id="add_group" method="POST">
			Select a group: &nbsp;
			<select class="btn btn-outline-info btn-sm" name="sel_group">
			   <!-- For each Group -->
			   <option>Group 1</option>
			   <option>Group 2</option>
			   <option>Group 3</option>
			   <option>Group 4</option>
			   <option>Group 5</option>
			   <!-- If No Groups Present  -->
			   <!-- <option>No Groups</option> -->
			</select><br/><br/>
			Select a Player: &nbsp;
			<select class="btn btn-outline-info btn-sm" name="sel1_player">
			   <!-- For each Player -->
			   <option>Player 1</option>
			   <option>Player 2</option>
			   <option>Player 3</option>
			   <option>Player 4</option>
			   <option>Player 5</option>
			   <!-- If No Players Present  -->
			   <!-- <option>No Players</option> -->
			</select><br/><br/>
			<br/>
			<center>
			<p><button type="button" class="btn btn-primary" id="addgroup">Add Player to the Group</button>
			<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back</button></p>
			<div class="alert alert-info alert-dismissible" id="alert_addgroup" role="alert">{Player linked to Group successfully}</div>
		</form>
	  </div><br/>
	  <div class="right-half round">
		<h4>Update/Delete a Player:</h4><br/><br/>
		<form id="upd_del_player" method="POST">
			Select a Player: &nbsp;
			<select class="btn btn-outline-info btn-sm" name="sel2_player">
			   <!-- For each Player -->
			   <option>Player 1</option>
			   <option>Player 2</option>
			   <option>Player 3</option>
			   <option>Player 4</option>
			   <option>Player 5</option>
			   <!-- If No Groups Present  -->
			   <!-- <option>No Groups</option> -->
			</select><br/><br/>
			<!-- Display if a player is selected, else hide -->
			<div id="disp_player">
				<!-- On select group populate its ID and Name automatically -->
				Player ID: <input type="text" id="playerid" class="form-control" required /><br/>
				Player Name: <input type="text" id="playername" class="form-control" required /><br/>
			</div>
			<center>
			<p><button type="button" class="btn btn-primary" id="updplayer">Update Player</button>
			<button type="button" class="btn btn-danger" id="delplayer">Delete Player</button></p>
			<div class="alert alert-info alert-dismissible" id="alert_upddelplayer" role="alert">{Group updated/deleted successfully}</div>
			</center>
		</form>
	  </div>
	</div>	
</main>
{% endblock %}