{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
	    <!-- href as scores/<event_id> -->
		<h4>Event : <a href="#">{{event_name}} - {{event_venue}} @ {{event_address}}</a></h4><br/>
		<form id="editscore" method="POST">
			<h4>Select the Group & Hole to edit the scores.</h4>
			Group: 
			<select id="groupSelect" class="btn btn-sm" name="sel_group" required>
				<option value="" disabled selected>Select a Group...</option>
				<!-- For each Groups -->
				{% for group in event_groups%}
					<option value={{group}}>Group - {{group}}</option>
				{% endfor %}
				<!-- If No Groups Present  -->
				<!-- <option>No Groups</option> -->
			</select>&nbsp;&nbsp;
			<label id="holeLabel" style="display:none">Hole:</label> 
			<select id="holeSelect"class="btn btn-sm" name="sel_hole" required>
				<!-- For each Holes -->
				<option value="" disabled selected>Select a Hole...</option>
				{% for hole in course_holes%}
					<option value={{hole.HoleID}}>Hole {{hole.Hole_Num}}</option>
				{% endfor %}
				<!-- If No Holes Present  -->
				<!-- <option>No Holes</option> -->
			</select><br/><br/>
			<div id="editScores" method="POST">
			</div>
			<div style="width:50%">
				<!-- Submit changed scores to database onclick "Submit Score" Disable if not admin-->
				<p><button type="submit" class="btn btn-primary form-control" name="submit" value="submit">Submit</button></p>
				<!-- Destroy Event ID in Session on click "Change Event" & goto eventcal.html for admin & events.html for players -->
				<p><button type="button" class="btn btn-warning form-control" onclick="window.location='{{ url_for('editscores_landing') }}'">Change Event</button></p>
				<p><button type="button" class="btn btn-success form-control" onclick="window.location='{{ url_for('scores') }}'">Show All Scores</button></p>
				<!-- If logged into admin show admin_panel ID, else hide -->
				<p id="admin_panel">
				  <button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('admin') }}'">
				  <i class="fas fa-backward"></i> Admin Panel
				  </button>
				</p>
				<center>
				<div class="form-control alert-warning" id="alert_scores" style="display:none">Scores updated successfully</div>
				</center>
			</div>
			</form>
		</div>
	  </div>
	</div>	
	<br>
	<script>
	$(document).ready(function(){
	
	    $("form").submit(function(){
		  $("#alert_scores").css("display", "block");
		});
		
		$('#holeLabel').hide();
		$('#holeSelect').hide();

		$('#groupSelect').change(function() {
			$('#holeLabel').show();
			$('#holeSelect').show();
		});

		$('#holeSelect').change(function() {
			var holeNum = $(this).val();
			var groupNum = $('#groupSelect').val();

			$.ajax({
				type: "POST",
				url: "editscore/getscore",
				data:{
					"hole":holeNum,
					"group":groupNum
				},
				success: function(response) {
					$('#editScores').html(response)
				},
				error: function(event, request, settings) {
					console.log('AjaxError' + ' : ' + settings);
				},
				timeout: 20000
			});
		});
	});
	</script>
</main>
{% endblock %}