{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="left-half round">
	  <form id="editplayerinfo" method="POST">
		<h4>Edit Players</h4><br/>
		<p>Choose a player: 
		   <select id="playerSelect" name="player_select" class="form-control">
		      <option value="-1">Select a player...</option>
			  {% if success == 'TRUE' %}
				  {% for player in players_list %}
				  <option value="{{player.PlayerId}}">Player ID - {{player.PlayerId}}</option>
				  {% endfor %}
			  {% else %}
				  <option>No Courses for this venue</option>
			  {% endif %}
		   </select>
		</p> 
	  </div><br/>
	  <div class="right-half round">
		<h4>Player Information:</h4><br/>
		    <!-- On select Player show this, else hide -->
			<div id="playerInfo">
				<p>Player Name: <input type="text" id="playerName" name="player_name" class="form-control" required /></p>
				<p>Player Email: <input type="email" id="playerEmail" name="player_email" class="form-control" required /></p>
				<p>Player Password: <input type="password" id="playerPasswd" name="player_passwd" class="form-control"
                                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                                           title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters"				
				                           required />
			    </p>
			<center><br/>
				<button type="submit" class="btn btn-success" id="btnSave" name="btn_save" value="{{alert}}">Save</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
			</div>
			<!-- <div id="noPlayer"></div> -->
		</form><br/>
		<!--Confirmation message needs to show when data is changed-->
		<div class="alert-warning form-control text-center" id="alertPlayerInfo" role="alert" style="display:{{alert}}">
           Personal Information Changed Successfully
		</div>
	  </div>
	</div>	
</main>
<script>
$(document).ready(function(){
    
	<!-- $("#playerInfo").hide(); -->
	<!-- $("#noPlayer").text("No Player is selected"); -->

    $('#btnSave').click(function(){
		$('#btnSave').val('block');
	});

	if ($('#alertPlayerInfo').css('display') == 'block') {
		$("#alertPlayerInfo").fadeTo(800, 300).slideUp(300, function(){
			$("#alertPlayerInfo").slideUp(300);
		});
	}

	$('#playerSelect').change(function(event){
	
	    if($('#playerSelect').val() == '-1')
		{
		    <!-- $("#playerInfo").hide(); -->
			<!-- $("#noPlayer").text("No Player is selected"); -->
			$("#playerName").val("");
			$("#playerEmail").val("");
			$("#playerPasswd").val("");
		}
		
		$.ajax({
		    data: {'player_select': $("#playerSelect").val()},
		    type: 'POST',
		    url: '/getplayerinfo',
			success: function(response){
				console.log($("#playerSelect").val());
				$('#alertPlayerInfo').hide();
			}
		})
		.done(function(data){
			if(data.error){
				console.log("Data Error");
			}
			else{
				$("#playerName").val(data.player_name);
				$("#playerEmail").val(data.player_email);
				$("#playerPasswd").val(data.player_passwd);
			}
				
		});	
		event.preventDefault();	
	});
	
	
});
</script>
{% endblock %}