{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
<form id="editcourses" method="POST">
	<div class="contain">
	  <div class="left-half round">
		<h4>Edit Courses</h4><br/>
		 <p>Choose Venue:  
		    <select id="venueSelect" name="venue_select" class="form-control" required> 
			   <option value="" disabled selected>Choose a Venue...</option>
			   <!-- Foreach Venu e-->
			   {% for venue in venue_list%}
			    	<option value={{venue.VenueId}}>{{venue.Name}} - {{venue.Address}}</option>
				{% endfor %}
		    </select> 
		 </p>  
		<p id="courseLabel">Choose Course: 
		   	<select id="courseSelect" name="course_select" class="form-control" required>
		   		<option value="" disabled selected>Choose a Course...</option>
		   	</select>
		</p>
	  </div><br/>
	  <div class="right-half round">
		<h4>Course Information:</h4><br/>
		    <!-- On select Venue & Course show this, else hide -->
			<div id="courseInfo">
				<p>Course Name: <input type="text" id="courseName" name="course_name" class="form-control" maxlength="256" pattern="\S+.*" 
			                           title="Course Name shouldn't be empty or start with a whitespace" required /></p>
				<!-- <p>Change No. of Holes: <input type="text" id="noOfHoles" name="no_of_holes" class="form-control" required /></p> -->
				<p>Course Pars </p>
				<div id="parInfo" style="height:156.8px; overflow:auto">
				</div>
			</div>
			<center><br/>
				<button type="submit" class="btn btn-success" id="btnSave" name="submit" value="save">Save</button>
				<button type="submit" class="btn btn-danger" id="btnDelete" name="submit" value="delete" onclick="alert('WARNING: Are you sure you want to delete the selected course? This may delete all the scores in it');">Delete Course</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('courses_landing') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when page is validated-->
		<div class="alert-warning form-control text-center" id="alertCourseInfo" style="display:none">Course Information changed/deleted successfully</div>
	  </div>
	</div>	
	<script>
		$(document).ready(function(){
		    
		    $("#editcourses").submit(function(){
				$("#alertCourseInfo").css("display", "block");
			});
			
			$('#courseLabel').hide();

			$('#venueSelect').change(function() {
				$('#courseLabel').show();

				var fetch = $(this).val();
				$.ajax({
					type: "POST",
					url: "addevents/get_course",
					data: { "venue":fetch },
					success: function (response) {
						$('#courseSelect').html(response);
					},
					error: function (event, request, settings) {
						console.log('AjaxError' + ' : ' + settings);
					},
					timeout: 20000
				});
			});

			$('#courseSelect').change(function() {
				s = $('#courseSelect option:selected').text();
				courseName = s.substring(0, s.indexOf('-'));
				$('#courseName').val(courseName);

				var fetch = $(this).val();
				$.ajax({
					type: "POST",
					url: "editcourses/getpar",
					data: { "course":fetch },
					success: function (response) {
						$('#parInfo').html(response);
					},
					error: function (event, request, settings) {
						console.log('AjaxError' + ' : ' + settings);
					},
					timeout: 20000
				});
			});

		});
	</script>
</main>
{% endblock %}
