{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="left-half round">
		<h4>Edit Courses</h4><br/>
		<p>Choose Venue: 
		   <select id="venueSelect" name="venue_select" class="form-control">
			  <!-- Foreach Venue -->
			  <option value="">{Venue ID - Venue Name}</option>
		   </select>
		</p> 
		<p>Choose Course: 
		   <select id="courseSelect" name="course_select" class="form-control">
			  <!-- Foreach Course -->
			  <option value="">{Course ID - Course Name}</option>
		   </select>
		</p>
	  </div><br/>
	  <div class="right-half round">
		<h4>Course Information:</h4><br/>
		<form id="editcourses" method="POST">
		    <!-- On select Venue & Course show this, else hide -->
			<div id="courseInfo">
				<p>Course Name: <input type="text" id="courseName" name="event_name" class="form-control" required /></p>
				<p>Change No. of Holes: <input type="text" id="noOfHoles" name="no_of_holes" class="form-control" required /></p>
				<p>Course Pars </p>
				<table class='table table-sm table-hover table-dark table-striped'>
					<tr>
					  <th>Hole</th><th>Par</th>
					</tr>
					<!-- For each Hole and Par -->
					<tr><td>{Hole 1}</td><td><input type='text' size='2' id='{par1}' name='{par_1}' /></td></tr>
					<tr><td>{Hole 2}</td><td><input type='text' size='2' id='{par2}' name='{par_2}' /></td></tr>
					<tr><td>{Hole 3}</td><td><input type='text' size='2' id='{par3}' name='{par_3}' /></td></tr>
					<tr><td>{Hole 4}</td><td><input type='text' size='2' id='{par4}' name='{par_4}' /></td></tr>
					<!-- For end -->
				</table>
			</div>
			<center><br/>
				<button type="submit" class="btn btn-success" id="btnSave" name="btn_save">Save</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when page is validated-->
		<div class="alert alert-info alert-dismissible text-center" id="alert_addgroup" role="alert">{Course information changed successfully}</div>
	  </div>
	</div>	
</main>
{% endblock %}