{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
	    <!-- href as scores/<event_id> -->
		<h4>Event : <a href="#">{Event_ID} / {Venue_ID} - {Venue Name} @ {Venue Address}</a></h4><br/>
		<form id="editscore" method="POST">
			<p>Select the Group & Hole to edit the scores.</p>
			Group: 
			<select class="btn btn-outline-primary btn-sm" name="sel_group">
			   <!-- For each Groups -->
			   <option>Group 1</option>
			   <option>Group 2</option>
			   <option>Group 3</option>
			   <option>Group 4</option>
			   <option>Group 5</option>
			   <!-- If No Groups Present  -->
			   <!-- <option>No Groups</option> -->
			</select>&nbsp;&nbsp;
			Hole: 
			<select class="btn btn-outline-primary btn-sm" name="sel_hole">
			   <!-- For each Holes -->
			   <option>Hole 1</option>
			   <option>Hole 2</option>
			   <option>Hole 3</option>
			   <option>Hole 4</option>
			   <option>Hole 5</option>
			   <!-- If No Holes Present  -->
			   <!-- <option>No Holes</option> -->
			</select><br/><br/>
			<table class="table table-hover table-striped table-dark" style="width:50%">
				<tr>
					<td>Player</td>
					<td>Score</td>
					<td>Match Score</td>
				</tr>
				<tr>
					<td>{Player Name} {ID}</td>
					<td>
						<!-- Button onclick add and decrease score -->
						<button type="button" class="btn btn-success btn-xs" onclick="">+</button>
						<b id="">{Score}</b>
						<button type="button" class="btn btn-danger btn-xs" onclick="">-</button>
					</td>
					<td>{Match Score}</td>
				</tr>
			</table>
			<div style="width:50%">
				<!-- Submit changed scores to database onclick "Submit Score" Disable if not admin-->
				<p><button type="button" class="btn btn-primary form-control" id="btn_score">Submit Score</button></p>
				<!-- Destroy Event ID in Session on click "Change Event" & goto eventcal.html for admin & events.html for players -->
				<p><button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('events') }}'">Change Event</button></p>
				<p><button type="button" class="btn btn-success form-control" onclick="window.location='{{ url_for('scores') }}'">Show All Scores</button></p>
				<!-- If logged into admin show admin_panel ID, else hide -->
				<p id="admin_panel">
				  <button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('admin') }}'">
				  <i class="fas fa-backward"></i> Admin Panel
				  </button>
				</p>
				<center>
				<div class="alert alert-info alert-dismissible" id="alert_scores" role="alert">{Scores updated successfully}</div>
				</center>
			</div>
		</form>
	  </div>
	</div>	
</main>
{% endblock %}