{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
		<form id="editevent" method="POST">
		    <!-- href as scores/<event_id> -->
			<h4>Event : <a href="#">{Event_ID} / {Venue_ID} - {Venue Name} @ {Venue Address}</a></h4><br/>
			<div style="width:50%">
			<h4>Update/Delete Event:</h4><br/>
			<!-- From Populated EventID & VenueID in Session -->
			Event ID: <input type="text" id="event_id" class="form-control" disabled /><br/>
			Venue Name: <input type="text" id="venue_name" class="form-control" required /><br/>
			Venue Address: <input type="text" id="venue_address" class="form-control" required /><br/>
				<!-- Submit changed scores to database onclick "Update/Delete Event" -->
				<center><p>
				<button type="button" class="btn btn-primary" id="updevent">Update Event</button>
				<button type="button" class="btn btn-danger" id="delevent">Delete Event</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back</button>
				</center></p>
				<div class="alert alert-info alert-dismissible" id="alert_addgroup" role="alert">{Event updated/deleted successfully}</div>
			</div>
		</form>
	  </div>
	</div>	
</main>
{% endblock %}