{% extends 'base.html' %}
{% block content %}

    <!-- Begin page content -->
    <main role="main" class="container">
		<div class="contain">
		  <div class="left-half round">
		    <h2>Click the date on the calendar to show the event:</h2><br/>
            <div id="datepicker"></div><br/><br/>
            <span id="date_disp"></span> {Events}
		  </div><br/>
		  <div class="right-half round">
		    <h2>Recent Events:</h2><br/><br/>
			<!-- Foreach event start -->
		    {Date} : {Events}<br/><br/>
			<!-- Foreach event end --> 
			<!-- ID: 1. If logged in show, else hide URL: 2. If admin goto admin, else goto editscore -->
			<p><button type="button" class="btn btn-info form-control" id="dashboard" onclick="window.location='{{ url_for('editscore') }}'">Go to Dashboard</button></p>
		  </div>
		</div>	
	</main>
	<br><br>
	
<!-- Inbuilt Custom Script for Calendar -->
<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/js/bootstrap-datepicker.min.js"></script>

<script>
		$(document).ready(function(){
			$('#datepicker').datepicker({format: 'M dd, yyyy', todayHighlight: 'True'});
				$('#datepicker').on('changeDate', function() {
					$('#date_disp').html( $('#datepicker').datepicker('getFormattedDate') );
			});
		});
</script>

{% endblock %}	
