{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
		<form id="events_landing" method="POST">
		    <!-- href as scores/<event_id> -->
			<h4>{Username} - Add, Edit/Delete Event</h4><br/>
			<div style="width:50%">
			<h6>Select an event to delete it with all players & their scores present in it:</h4><br/>
				<center>
				<button type="button" class="btn btn-success form-control" onclick="window.location='{{ url_for('addevents') }}'">Add Event</button><br/><br/>
				<button type="button" class="btn btn-primary form-control" onclick="window.location='{{ url_for('editevent_landing') }}'">Edit Event</button><br/><br/>
				<button type="button" class="btn btn-danger form-control" onclick="window.location='{{ url_for('delevent') }}'">Delete Event</button><br/><br/>
				<button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back to Admin</button><br/><br/>
				</center>
			</div>
		</form>
	  </div>
	</div>	
</main>
{% endblock %}