{% extends "base.html" %}
	
{% block content %}
 
    <!-- Begin page content -->
    <main role="main" class="container">
	<div class="contain">
	  <div class="round">
	    <h1>Ottawa Valley Golf Association</h1><br/>
		<p class="lead">Formed in 1948, The Ottawa Valley Golf Association (OVGA) is a non-profit organization committed to promoting the growth and development of golf in the Ottawa Valley Region. Supported by Golf Québec, Golf Ontario, and Golf Canada, the OVGA is responsible for golf tournaments, junior programs, handicap supervision, the rules of golf, and course rating in the district.In these efforts, the OVGA supports and works with its approximately 80 member clubs and is proud and appreciative of its 4,000 boys, girls, women, and men that participate in and volunteer for our competitions.</p>
	  </div><br/>
	</div>
    </main>

{% endblock %}
