{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
	<div class="contain">
			<div class="round">
			
				<h1>Login</h1><br/>

				<form action="" method="POST">
					{{ form.csrf_token }}
			    <table>
				  <tr>
					  <td class="text-left">Email: &nbsp;&nbsp; </td>
					  <td>{{form.email}}</td>
				  </tr>
				  <tr>
					  <td class="text-left">Password: &nbsp;&nbsp; </td>
					  <td>{{form.password}}</td>
				  </tr>
				  <tr>
					  <td colspan="2">
						<!-- Error messages and flash feedback -->
						{% for error in form.email.errors %}
						<span style="color: red; background-color: bisque;">{{ error }}</span>
						{% endfor %}				
						{% for erroring in form.password.errors %}
						<span style="color: red; background-color: bisque;">{{ erroring }}</span>
						{% endfor %}
					  </td>
				  </tr>
				  <tr>
					<td colspan="2">&nbsp;</td>
				  </tr>
				  <tr>
					  <td colspan="2"><p><input type="submit" class="form-control btn btn-primary" value="Login"/></p></td>
				  </tr>
				  <tr>
					  <td colspan="2"><a class="form-control btn btn-warning" href="{{ url_for('events') }}">General Public</a></td>
				  </tr>
				</table>
			</form>
			</div>
	</div>
</main>
{% endblock %}