{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
	<div class="contain">
	  <div class="">
		<div>
			<div class="mx-auto" style="padding: 5px;">
				<!-- Error messages and flash feedback -->
				{% for error in form.email.errors %}
				<span style="color: red;">{{ error }}</span>
				{% endfor %}
				{% if form.errors %}
				{{ form.errors }}
				{% endif %}

				<h1>Login</h1><br/><br/>
				<form action="" method="POST">
					{{ form.csrf_token }}
			    <table>
				  <tr>
					  <td>Email: </td>
					  <td>{{form.email}}</td>
				  </tr>
				  <tr>
					  <td>Password: </td>
					  <td>{{form.password}}</td>
				  </tr>
				  <tr>
					  <td colspan="2">&nbsp;</td>
				  </tr>
				  <tr>
					  <td colspan="2"><input type="submit" class="form-control btn btn-primary" value="Login"/></td>
				  </tr>
				  <tr>
					  <td colspan="2">&nbsp;</td>
				  </tr>
				  <tr>
					  <td colspan="2"><a class="form-control btn btn-warning" href="{{ url_for('events') }}">General Public</a></td>
				  </tr>
				</table>
			</form>
			</div>
		</div>
	  </div>
	</div>
</main>
{% endblock %}