<table class="table table-hover table-striped">
    <tr>
        <td><b>Player<b></td>
        <td><b>Par<b></td>
        <td align="center"><b>Stroke</b></td>
        <td><b>Score</b></td>
    </tr>
    {% for i in range(player_list|length)%}
    <tr>
        <td>{{player_names[i]}}</td>
        <td>{{par}}</td>
        <td align="center">
            <input type="number" value="{{stroke_list[i]}}" name=score{{ID[i]}} 
			       style="text-align:center; border-radius:5%" min="1" max="100" required />
        </td>
        <td>{{stroke_list[i] - par }}</td>
    </tr>
    {% endfor %}
</table>