{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
		<h4>Update/Delete Venue:</h4><br/>
		<form id="upd_del_venue" method="POST">
		    <p>Select a Venue: 
			  <select id="selectVenue" name="select_venue" class="form-control" required>
			    <option value="" disabled selected>Select a Venue...</option>
				<!-- Foreach Venue -->
				{% if success == 'TRUE' %}
					{% for venue in venue_list%}
					<option value="{{venue.VenueId}}">{{venue.Name}} - {{venue.Address}}</option>
					{% endfor %}
				{% else %}
				  <option value="" disabled>No venues are present</option>
			    {% endif %}
			  </select>
			</p>
			<!-- Onselect Venue show venue_info, else hide -->
			<div id="venue_info">
				<!-- Display Venue Name, Venue Address and Course Name based on selected VenueID above -->
				<p>Venue Name: <input type="text" id="venueName" name="venue_name" class="form-control" maxlength="256" pattern="\S+.*" 
			                          title="Venue Name shouldn't be empty or start with a whitespace" required /></p>
				<p>Venue Address: <input type="text" id="venueAddress" name="venue_address" class="form-control" maxlength="256" pattern="\S+.*" 
			                             title="Venue Address shouldn't be empty or start with a whitespace" required /></p>
			</div>
			<center><br/>
				<button type="submit" class="btn btn-success" id="updateVenue" name="submit" value="update">Update Venue</button>
				<button type="submit" class="btn btn-danger" id="deleteVenue" name="submit" value="remove">Delete Venue</button>
				<button type="button" class="btn btn-info" onclick="window.location='{{ url_for('venues_landing') }}'"><i class="fas fa-backward"></i> Back </button>
			</center>
		</form><br/>
		<!--Confirmation message needs to show when page is validated-->
		<div class="alert-warning form-control text-center" id="alertEditVenue" style="display:none">Venue updated successfully</div>
		<div class="alert-danger form-control text-center" id="alertDeleteVenue" style="display:none">Venue deleted successfully</div>
	  </div>
	</div>
</main>
<script>
$(document).ready(function(){

    $("#updateVenue").click(function(){
		$("form").submit(function(){
		  $("#alertEditVenue").css("display", "block");
		});
	});
	
	$("#deleteVenue").click(function(){
		$("form").submit(function(){
		  $("#alertDeleteVenue").css("display", "block");
		});
	});
	
	$('#selectVenue').change(function(event){
		$.ajax({
			data: {'select_venue': $("#selectVenue").val()},
			type: 'POST',
			url: '/getvenueinfo',
			success: function(response){
				console.log($("#selectVenue").val());
				$('#alertEditVenue').hide();
			}
		})
		.done(function(data){
			if(data.error){
				console.log("Data Error");
			}
			else{
				$("#venueName").val(data.venue_name);
				$("#venueAddress").val(data.venue_address);
			}
				
		});	
		event.preventDefault();	
    });
	
});
</script>
{% endblock %}