{% extends 'base.html' %}
{% block content %}
<!-- Begin page content -->
<main role="main" class="container">
	<div class="contain">
	  <div class="right-half round">
		<form id="venues_landing" method="POST">
		    <!-- href as scores/<event_id> -->
			<h4>{UserID | Username} - Add, Edit/Delete Venue</h4><br/>
			<h6>Add, Update/Delete Venue based on its Venue Name & Address:</h6><br/>
			<div style="width:50%">
				<center>
				<button type="button" class="btn btn-success form-control" onclick="window.location='{{ url_for('addvenue') }}'">Add Venue</button><br/><br/>
				<button type="button" class="btn btn-primary form-control" onclick="window.location='{{ url_for('upddelvenue') }}'">Update/Delete Venue</button><br/><br/>
				<button type="button" class="btn btn-info form-control" onclick="window.location='{{ url_for('admin') }}'"><i class="fas fa-backward"></i> Back to Admin</button><br/><br/>
				</center>
			</div>
		</form>
	  </div>
	</div>	
</main>
{% endblock %}